<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>live chat</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1>Live-Chat</h1><br>
    <ul id="messages"></ul>
    <label>Name: </label><input id="user-name">
    <label>Message: </label><textarea id="msg"></textarea><br><br>
    <input type="button" id="button" value=" Send Message ">
  <script src="/socket.io/socket.io.js"></script> 
  <script src="/javascripts/app.js"></script>
  
</body>
</html>
  
  

